WeChatCore/.vs/WeChatCore/v14/.suo
WeChatCore/bin/Debug/CommonTools.dll
WeChatCore/bin/Debug/CommonTools.pdb
WeChatCore/bin/Debug/HttpHelper.dll
WeChatCore/bin/Debug/HttpHelper.pdb
WeChatCore/bin/Debug/ICSharpCode.SharpZipLib.dll
WeChatCore/bin/Debug/Newtonsoft.Json.dll
WeChatCore/bin/Debug/Newtonsoft.Json.xml
WeChatCore/bin/Debug/WeChatCore.dll
WeChatCore/bin/Debug/WeChatCore.pdb
WeChatCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WeChatCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WeChatCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WeChatCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WeChatCore/obj/Debug/WeChatCore.csproj.FileListAbsolute.txt
WeChatCore/obj/Debug/WeChatCore.dll
WeChatCore/obj/Debug/WeChatCore.g.resources
WeChatCore/obj/Debug/WeChatCore.pdb
WeChatCore/obj/Debug/WeChatCore.csprojResolveAssemblyReference.cache
WeChatCore/bin/Debug/Data/data.dat
WeChatCore/obj/Debug/WeChatCore.csproj.CopyComplete
WeChatCore/obj/Debug/WeChatCore.csproj.CoreCompileInputs.cache
sample/EasyWeChatClient/.vs/EasyWeChatClient/v14/.suo
sample/EasyWeChatClient/.vs/EasyWeChatClient/v15/.suo
sample/EasyWeChatClient/.vs/EasyWeChatClient/v15/Server/sqlite3/db.lock
sample/EasyWeChatClient/.vs/EasyWeChatClient/v15/Server/sqlite3/storage.ide
sample/EasyWeChatClient/.vs/EasyWeChatClient/v15/Server/sqlite3/storage.ide-shm
sample/EasyWeChatClient/.vs/EasyWeChatClient/v15/Server/sqlite3/storage.ide-wal
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/Check.jpg
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/CommonTools.dll
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/CommonTools.pdb
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/Data/data.dat
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/EasyWeChatClient.exe
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/EasyWeChatClient.exe.config
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/EasyWeChatClient.pdb
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/EasyWeChatClient.vshost.exe
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/EasyWeChatClient.vshost.exe.config
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/EasyWeChatClient.vshost.exe.manifest
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/HttpHelper.dll
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/HttpHelper.pdb
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/ICSharpCode.SharpZipLib.dll
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/Log/WeChat.log
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/Newtonsoft.Json.dll
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/Newtonsoft.Json.xml
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/SyncKey.log
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/User.jpg
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/WeChatCore.dll
sample/EasyWeChatClient/EasyWeChatClient/bin/Debug/WeChatCore.pdb
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/App.g.cs
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/App.g.i.cs
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.csproj.CopyComplete
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.csproj.CoreCompileInputs.cache
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.csproj.FileListAbsolute.txt
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.csproj.GenerateResource.Cache
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.csprojResolveAssemblyReference.cache
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.exe
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.g.resources
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.pdb
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient.Properties.Resources.resources
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient_MarkupCompile.cache
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient_MarkupCompile.i.cache
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient_MarkupCompile.i.lref
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/EasyWeChatClient_MarkupCompile.lref
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/MainWindow.baml
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/MainWindow.g.cs
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/MainWindow.g.i.cs
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
sample/EasyWeChatClient/EasyWeChatClient/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WeChatCore/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WeChatCore/.vs/WeChatCore/v15/.suo
/WeChatCore/bin/x64/Debug/CommonTools.dll
/WeChatCore/bin/x64/Debug/Data/data.dat
/WeChatCore/bin/x64/Debug/HttpHelper.dll
/WeChatCore/bin/x64/Debug/ICSharpCode.SharpZipLib.dll
/WeChatCore/bin/x64/Debug/Newtonsoft.Json.dll
/WeChatCore/bin/x64/Debug/Newtonsoft.Json.xml
/WeChatCore/bin/x64/Debug/WeChatCore.dll
/WeChatCore/bin/x64/Debug/WeChatCore.pdb
/WeChatCore/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WeChatCore/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WeChatCore/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WeChatCore/obj/x64/Debug/WeChatCore.csproj.CopyComplete
/WeChatCore/obj/x64/Debug/WeChatCore.csproj.CoreCompileInputs.cache
/WeChatCore/obj/x64/Debug/WeChatCore.csproj.FileListAbsolute.txt
/WeChatCore/obj/x64/Debug/WeChatCore.csprojResolveAssemblyReference.cache
/WeChatCore/obj/x64/Debug/WeChatCore.dll
/WeChatCore/obj/x64/Debug/WeChatCore.g.resources
/WeChatCore/obj/x64/Debug/WeChatCore.pdb
/WeChatCore/.vs/WeChatCore/v15/Server/sqlite3/db.lock
/WeChatCore/.vs/WeChatCore/v15/Server/sqlite3/storage.ide
/WeChatCore/.vs/WeChatCore/v15/Server/sqlite3/storage.ide-shm
/WeChatCore/.vs/WeChatCore/v15/Server/sqlite3/storage.ide-wal
/WeChatCore/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WeChatCore/obj/Debug/WeChatCore.csprojAssemblyReference.cache
